@media screen and (max-width: 480px) {
    .nav_list_items {
        display: none;
        padding: 0;
        height: 100vh;

    }
    
    .nav_bar {
        padding-left: 0px;
    }

    #toggleButton {
        display: block;
    }
    .desktop {
        display: none !important;
    }
    .mobile {
        display: block;
        width: 100%;

    }
    
    .nav_list_item {
        margin: 0;
        padding: 0;
    }
    
    .nav_list_items {
        background-color: white;
    }
    
    .nav_list_item {
        background-color: white;
        width: 150vw;
        min-height: 10vh;
        font-weight:300;
        height: 5vh;
        border-bottom: 1px solid black;
       
        
    }
    
  

.nav_list_items a:hover::before {
    display: none;

}

    

    .nav_list_item a {
        color: black;
        position: relative;
        float: left;
        font-size: 20px;
        line-height: 80px;
        padding-left: 5vw;
        
    }

    .carousel_caption_heading {
        font-size: 1rem;
        width: 10rem;
        margin: 0 auto;
        padding-left: 2vw;
        padding-right: 2vw;
        font-weight: 100;
    }
    
    .carousel-indicators li {
    position: relative;
    bottom: 5vh;
    margin-left: 3vw;
    }

    .carousel_caption_title {
        font-size: 2.7rem;
    }

    .separator {
        margin: 10px auto;
        
    }

    .separator::after {
        width: 12vw;
    }

    .separator::before {
        width: 12vw;
        margin-left: -65px;
        
    }
    .carousel_caption_description {
        display: none;
    }
    
    .carousel_caption_description_mobile {
        display: block;
        margin: 0 auto
    }
    
    .btn-default-learn-more {
        display: none
    }
    
    .btn-default-get-started {
        position: relative;
        bottom: 7vh;
        width: 50vw;
    }
    .nav_bar_logo img {
        width: 30vw;
        position: relative;
        top: 4vh;
        left: 9vw
    }
    #toggleButton {
        width: 50px;
        height: 50px;
        background-color: transparent;
        border-radius: 10%;
    }
    .toggleButtonMobile {
        width: 50px;
        height: 5px;
        margin-top: 5px;
        border-radius: 10%;
        background-color: white;
        margin: 6px 0;
        z-index: 5;
    }
    
    .column_item {
        margin-bottom: 5vh
    }
    .nav_bar.scroll .nav_list_items {
        display:block;
        float: left;
        margin-left: 15vw;
    }
    
    
    .logo {
        position: relative;
        bottom: 4vh
    }
    
    .sleek_design_description,
    .free_support_description,
    .creative_ideas_description,
    .clean_code_description {
        width: 25vh;
    }


}